body{
    background-color: #e5f5eb;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header{
    height: 100px 0;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 40px;
  }
  
  .container1{
    display: block;
    margin: 5;
    margin-top: 20px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    padding: 20px 80px 20px;
    margin-bottom: 10px;
    background-color: #cce7cb;
    height: 100px;
  }

  .container2{
    display: block;
    margin: 5;
    margin-top: 20px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    padding: 20px 80px 20px;
    margin-bottom: 10px;
    background-color: #cce7cb;
    height: 250px;
  }

  h2, h3{
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#3c5d42;
  }
  


  *{
    margin: 0;
    padding: 0;
  }
  
  .logo {
    text-decoration: none;
    color: #3c5d42;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    align-items: center;
  }
  
  nav{
    display: flex;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #cce7cb;
    align-items: center;
    height: 12vh;
    width: 100%;
  }
  
  .menu-toggle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: content-box;
  }
  
  .menu-toggle .line{
      background-color: #3c5d42;
  }
  
  .menu-toggle .line:hover{
    opacity: 0.7;
  }
  
  .line {
    width: 100%;
    height: 2px;
  }
  
  .nav-list {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li{
    display: flex;
    justify-content: space-around;
    letter-spacing: 3px;
    margin-left: 32px;
    flex-direction: row;
  }
  
  .nav-list li:hover {
    opacity: 0.7;
  }
  
  .nav-list > li > a{
    text-decoration: none;
    color: #3c5d42;
  }
  
  .nav-list.active{
    display: grid;
    background-color: #cce7cb;
    bottom: 0;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 12vh;
    height: calc(100vh - 12vh);
  
  }

  @media screen and (max-width: 600px) {
    .container1,
    .container2 {
      padding: 10px;
      height: auto;
    }
    
    .container2 {
      margin-bottom: 20px;
    }
    
    h2 {
      font-size: 24px;
    }
    
    h3 {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1200px) {
    .container1,
    .container2 {
      padding: 15px 40px;
      height: auto;
    }
    
    .container2 {
      margin-bottom: 20px;
    }
    
    h2 {
      font-size: 30px;
    }
    
    h3 {
      font-size: 24px;
    }
  }
  
  @media screen and (min-width: 1201px) {
    .container1,
    .container2 {
      padding: 20px 80px;
      height: auto;
    }
    
    .container2 {
      margin-bottom: 30px;
    }
    
    h2 {
      font-size: 36px;
    }
    
    h3 {
      font-size: 28px;
    }
  }
  
  @media (min-width: 768px) {
    .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    }
  
  .menu-toggle {
      display: none;
    }
  }
  
  @media (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0)
        }
    }
  }
  
  @media (max-width: 768px) {
    h1 {
         font-size: 24px;
    }

   .nav-list.active {
    display: hidden;
    background-color: #cce7cb;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 12vh;
    height: calc(100vh - 12vh);
      }
  }
  
  section{
    margin: 0 auto;
    display: block;
    max-width: 1024px;
    width: 100%;
  }
  
  .card{
    background-color: #cce7cb;
    display: inline-block;
    margin: 10px 10px;
    border: 3px solid #3c5d42;
    max-height: 1024px;
    vertical-align: top;
    border-radius: 10px;
  }
  
  .card > img{
    display: block;
    width: 350px;
    height: 400px;
    border-radius: 10px;
  }
  
  .card details{
    width: 300px;
    height: auto;
    display: inline-block;
  }
  
  .card details > summary {
    font-size: 16px;
    padding: 10px;
  }
  
  .card details > p{
  padding: 0 10px;
  font-size: 14px;
  }

  .card > details > a{
    text-decoration: none;
    color: #3c5d42;
    font-weight: bold;
  }
  
  .card > details > blockquote{
    font-style: italic;
    color: #3c5d42;
  }